---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import heroImageGif from "@images/network_viz_grey.gif";
import mainLogo from "@images/starlight/dpin_logo.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/blur.jpg";
import dashboard from "@images/taskboard.jpg";
import { partnersData } from "@/data_files/constants";

import testemonialImage from "@images/tessa-clement.jpg";


const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <HeroSection
    title=`<tspan x=0 y=60>Data for Public</tspan>
    <tspan x=0 y="120">Impact Network</tspan>`
    subTitle="Connecting students and young professionals with peers and organisations, empowering them to apply their skills to address societal challenges through interdisciplinary collaboration."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Us"
    secondaryBtnURL="/contact"
    withReview={false} 
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImageGif}
    alt="DPIN Logo"
  />

  <ClientsSection
    title="Organizations that have been involved in our events"
    subTitle="Experience the reliability chosen by industry giants."
    partners={partnersData}
  />

  <FeaturesGeneral
    title="What We Do"
    subTitle="At DPIN, we tackle the unique challenges encountered in the public sector and civil society. Better policy design through collaborative experimentation."
    src={featureImage}
    alt="Placeholder image"
    features={features}
  />

  <FeaturesNavs
    title=`How <span class="text-yellow-500 dark:text-yellow-400">DPIN</span>'s offerings to perfectly suit your policymaking and impact needs.`
    tabs={[
      {
        heading: "Community-rooted challenges",
        content:
          "Local partners define real policy questions with measurable impact potential.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Multidisciplinary teams",
        content:
          "DPIN curates interdisciplinary, excellent, and intrinsically motivated participants to collaboratively prototype innovative solutions addressing these challenges.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Outcome-focused deliverables",
        content:
          "Teams produce concrete policy proposals, implementation roadmaps and engagement plans, driving real-world impact.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Post-event integration",
        content:
          "We support hosts in connecting winners with decision-makers, pilot opportunities and follow-through structures.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      }
    ]}
  />

  <TestimonialsSection
    title="Connect practitioners & communities"
    subTitle="Leverage diverse perspectives from tech, academia, public sector and civil society to craft better-informed policy ideas."
    ;
    testimonials={[
      {
        content:
          "Joining this hackathon was both fun and valuable. For me, the best part was experimenting with ideas, meeting new people, and testing skills in a fast-paced setting. (...) As the founder of a health tech consultancy company, I loved seeing how students approach innovation in healthcare and AI",
        author: "Tessa Clement",
        role: "AI Governance Startup Founder | Panacea Inc..",
        avatarSrc:
          testemonialImage.src,
      },
    ]}
    statistics={[
      {
        count: "20+",
        description:
          "partner organizations — from funders to challenge providers.",
      },
      {
        count: "170+",
        description:
          "interdisciplinary participants, collaborating on impactful projects using various expertises.",
      },
      {
        count: "4",
        description:
          "challenge owners, from startups and municipalities to non-profits.",
      },
      {
        count: "5+",
        description: "upcoming events around the world.",
      },
    ]}
  />

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Leverage your unique skills and make an impact."
    subTitle="Connect with us now."
    url="google.com"
  />
</MainLayout>
